
<div id="checkOut" class="container">
	<h1>My Cart</h1>
	<hr>

	<div class="row">
		<div class="col-md-8">
			<div class="panel panel-default">
	        	<div class="panel-heading"><strong>ITEMS</strong></div>
	            <div class="panel-body">
				    <table class="table">
				        <thead>
				            <tr>
				                <th></th>
				                <th>Product</th>
				                <th class="text-center">Qty</th>
				                <th class="text-right">Subtotal</th>
				            </tr>
				        </thead>
				        <tbody>			        	
				        	<% @items.each do |k, v| %>
				            <tr>
				                <td class="text-center"><%= image_tag @products.find_by_id(k).image.url(:thumb) %></td>
				                <td>
				                	<%= @products.find_by_id(k).name %>
				                </td>
				                <td class="text-center">
				                	<%= v["quantity"] %>
				                </td>
				                <td class="text-right">
				                	$ <%= @products.find_by_id(k).price * v["quantity"].to_f %>
				                </td>
				            </tr>
				            <% end %>
				            <tr>
				            	<td colspan="3" class="text-right">Subtotal</td>
				            	<td class="text-right"> $ <%= @subtotal %></td>
				            </tr>
				            <tr>
				            	<td colspan="3" class="text-right">Shipping Fee</td>
				            	<td class="text-right"> $ <%= @shipping_fee %></td>
				            </tr>
				            <tr>
				            	<td colspan="3" class="text-right"><strong>Grand Total</strong></td>
				            	<td class="text-right"><strong>$ <%= @grand_total %></strong></td>
				            </tr>
				        </tbody>
				    </table>
				    <%= link_to 'Remove all items', clear_cart_path, class: 'btn btn-danger btn-lg' %>
	            </div>
	        </div>
	    </div>

	    <div class="col-md-4">
	    	<div class="panel panel-default">
	    		<div class="panel-heading"><strong>BILLING</strong></div>
	    		<div class="panel-body">
	    			<hr>
	    			<div class="row">
	    				<div class="col-md-8">
	    					<strong>Grand Total</strong>
	    				</div>
	    				<div class="col-md-4">
	    					<strong>$ <%= @grand_total %></strong>
	    				</div>
	    			</div>
	    			<hr>

	    			<%= form_tag payment_path, method: 'post' do %>
		                <div class="row">
		                  	<div class="col-md-6">
		                  	  	<div class="form-group">
		                  	  		<%= label_tag :first_name, "First Name" %>
  									<%= text_field_tag :first_name, '', class: 'form-control', placeholder: 'First Name', required: true %>
		                  	  	</div>
		                  	</div>
		                  	<div class="col-md-6">
		                  		<div class="form-group">
		                  	  		<%= label_tag :last_name, "Last Name" %>
  									<%= text_field_tag :last_name, '', class: 'form-control', placeholder: 'Last Name', required: true  %>
		                  	  	</div>
		                  	</div>
		                </div>
		                <div class="row">
		                  	<div class="col-md-6">
		                  	    <div class="form-group">
		                  	  		<%= label_tag :email, "Email" %>
  									<%= email_field :email, '', class: 'form-control', placeholder: 'Email', required: true  %>
		                  	    </div>
		                  	</div>
		                  	<div class="col-md-6">
		                  	    <div class="form-group">
		                  	  		<%= label_tag :telephone, "Telephone" %>
  									<%= telephone_field :telephone, '', class: 'form-control', placeholder: 'Telephone', required: true  %>
		                  	  	</div>
		                  	</div>
		                </div>
		                <div class="form-group">
		                	<%= label_tag :address, "Address" %>
  							<%= text_area_tag :address, '', class: 'form-control', rows: '3', required: true  %>
		                </div>

		                <div class="row">
		                    <div class="col-md-6">
		                        <div class="form-group">
		                        	<%= label_tag :postal_code, "Zip / Postal Code" %>
  									<%= text_field_tag :postal_code, '', class: 'form-control', placeholder: 'ex. 1101', required: true  %>
		                        </div>
		                    </div>
		                    <div class="col-md-6">
		                        <div class="form-group">
		                        	<%= label_tag :state, "State" %>
  									<%= text_field_tag :state, '', class: 'form-control', placeholder: 'ex. New York', required: true  %>
		                        </div>
		                    </div>
		                </div>
		                <br>
		                <%= submit_tag 'CHECKOUT', class: 'btn-warning btn-lg btn-block' %>
		    			<p class="text-center"> - OR - </p>
		    			<%= link_to image_tag( 'https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-large.png', class: 'btn-block'), express_payment_path %>
		                <hr>
		    			<%= link_to 'Continue shopping', store_path, class: 'btn btn-primary btn-lg btn-block' %>
	                <% end %>
	               
	    		</div>
	    	</div>
	    </div>
	</div>
      
</div>