<!-- Credit Card -->
<div id="ccMethod" class="tab-pane fade in active">
    <%= form_for @order do |f| %>
      <% if @order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
          <ul>
            <% @order.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

        <div class="form-group">
          <%= f.label :first_name %>
          <%= f.text_field :first_name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :card_type %><br>
          <%= f.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]], class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :card_number %>
          <%= f.text_field :card_number, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :card_verification, "Card Verification Value (CVV)" %>
          <%= f.text_field :card_verification, class: 'form-control' %>
        </div>
        
        <div class="form-group">
          <%= f.label :card_expires_on %><br />
          <%= f.date_select :card_expires_on, :discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+10), :add_month_numbers => true %>
        </div>
        <%= f.submit 'Confirm Order', class: 'btn btn-warning btn-lg btn-block' %>
    <% end %>
</div>