<p id="notice"><%= notice %></p>

<p>
  <strong>New:</strong>
  <%= @order.new %>
</p>

<p>
  <strong>Cart:</strong>
  <%= @order.cart_id %>
</p>

<p>
  <strong>Ip address:</strong>
  <%= @order.ip_address %>
</p>

<p>
  <strong>First name:</strong>
  <%= @order.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @order.last_name %>
</p>

<p>
  <strong>Card type:</strong>
  <%= @order.card_type %>
</p>

<p>
  <strong>Card expires on:</strong>
  <%= @order.card_expires_on %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
