<div id="myCarousel" class="carousel slide" data-ride="carousel"  data-interval="3000">
	<!-- Indicators -->
	<ol class="carousel-indicators">
	    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	    <li data-target="#myCarousel" data-slide-to="1"></li>
	    <li data-target="#myCarousel" data-slide-to="2"></li>
  	</ol>
  	<!-- Slides -->
  	<div class="carousel-inner">
  		<div class="item active">
  			<img src="http://lorempixel.com/1920/700/animals" alt="First slide">
  			<div class="carousel-caption">
				<h3>Animal 1</h3>
				<p>Animal 1 - Image Description</p>
			</div>
  		</div>
  		<div class="item">
  			<img src="http://lorempixel.com/1920/700/animals/1" alt="First slide">
  			<div class="carousel-caption">
				<h3>Animal 2</h3>
				<p>Animal 2 - Image Description</p>
			</div>
  		</div>
  		<div class="item">
  			<img src="http://lorempixel.com/1920/700/animals/2" alt="First slide">
  			<div class="carousel-caption">
				<h3>Animal 3</h3>
				<p>Animal 3 - Image Description</p>
			</div>
  		</div>
  	</div>
  	<!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

<div class="container">	

	<h1>Bestsellers!</h1>
	<div class="row">
		<% @bestsellers.take(3).each do |b| %>
		<div class="col-xs-12 col-sm-6 col-md-4">
		    <div class="thumbnail">
		      	<%= link_to image_tag( b.image.url(:large), class: 'img-responsive' ), product_path(b) %>
		      	<div class="caption">
		       		<h3><%= b.name %> <small> $ <%= b.price %></small></h3>
		      	</div>
		    </div>
		</div>
		<% end %>
	</div>				
	<a href="#" class="btn btn-default pull-right">See more</a>

	<h1>New Arrivals!</h1>
	<div class="row">

		<% @new_arrivals.take(3).each do |n| %>
		<div class="col-xs-12 col-sm-6 col-md-4">
		    <div class="thumbnail">
		      	<%= link_to image_tag( n.image.url(:large), class: 'img-responsive' ), product_path(n) %>
		      	<div class="caption">
		       		<h3><%= n.name %> <small> $ <%= n.price %></small></h3>
		      	</div>
		    </div>
		</div>
		<% end %>

	</div>		
	<a href="#" class="btn btn-default pull-right">See more</a>
</div>