<div class="container">	
	<h1>Store</h1>
	<hr>
	<%= link_to '< All Products', store_path %>
	
	<div id="productDetails" class="row">
		<div class="col-md-5 col-md-offset-1">
			<%= image_tag @product.image.url(:large), class: 'img-responsive pull-right' %>
		</div>
		<div class="col-md-5">
			<h3><%= @product.name %><br>
			<span class="price"><em>$<%= @product.price %></em></span></h3>

			<p>Quantity:</p>
			<form>
				<input type="number" value="1">
			</form>
			<br>
			<button class="btn btn-primary">Add to cart</button>
			<hr>
			
			<p class="text-justify">
				<%= @product.description %>
			</p>
		</div>
	</div>
	
</div>