<div class="container">	
	<h1>Store</h1>
	<hr>
	<%= link_to '< All Products', store_path %>
	
	<div id="productDetails" class="row">

		<% if flash[:message] %>
	    <div class="alert alert-success fade in">
	        <a href="#" class="close" data-dismiss="alert">&times;</a>
	        <span class="text-center"><%= flash[:message] %></span>
	    </div>
		<% end %>

		<div class="col-sm-10 col-md-5 col-md-offset-1">
			<%= image_tag @product.image.url(:large), class: 'img-responsive pull-right' %>
		</div>
		<div class="clearfix visible-xs visible-sm hidden-md hidden-lg"></div>
		<div class="col-md-5">
			<h3><%= @product.name %><br>
			<span class="price"><em>$<%= @product.price %></em></span></h3>

			<p>Quantity:</p>
			<%= form_for :user_session do |f| %>
			<%= f.text_field :quantity %>
			<% end %>
			<br>
			<%= link_to 'Add to cart', add_to_cart_path( id: @product.id ), class: 'btn btn-primary' %>
			<%= link_to 'Checkout', checkout_path, class: 'btn btn-warning' %>
			<hr>
			
			<p class="text-justify">
				<%= @product.description %>
			</p>
		</div>
	</div>
	
</div>